<% @title='BlogApp | Posts' %>
<div>
  <div>
    <div>
      <div>
        <img src="<%= @user.photo %>">
      </div>
      <div>
        <div>
          <h2><%= @user.name %></h2>
        </div>
        <div>
          <p><small>Number of posts: <%= @user.posts_counter %></small></p>
        </div>
      </div>
    </div>
  </div>
  <h4>Posts</h4>
  <% if @posts.empty? %>
    <div>
      <div>Ooops! There are currently no posts.</div>
      <div>
        <h5>Please, add a post first!</h5>
      </div>
    </div>
  <% else %>
    <% @posts.each do |post| %>
      <%= link_to user_post_path(id: post.id), class:'nav-link' do%>
        <div>
          <h1><%= post.title %></h1>
          <div>
            <p><%= post.text.slice(0,70)%> ...</p>
          </div>
          <div>
            <p><small>Comments: <%= post.comments_counter %></small></p>
            | 
            <p><small>Likes: <%= post.likes_counter %></small></p>
          </div>
        </div>
      <% end %>
      <h4>Recent Comments</h4>
      <% if post.most_recent_comments.empty? %>
        <div>
          <div>
            <p>No Comments Found</p>
          </div>
        </div>
      <% else %>
        <div>
          <div>
            <% post.most_recent_comments.each do |comment| %>
              <p><%= comment.author.name %>: <%= comment.text %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>