<% @title="BlogApp | #{@post.title}" %>
<div>
  <div>
    <div>
      <div>
        <div><%= @post.title %> by <%= @user.name %></div>
        <div>
          <p><small>Comments: <%= @post.comments_counter %></small></p>
          | 
          <p><small>Likes: <%= @post.likes_counter %></small></p>
        </div>
      </div>
    </div>
    <div>
      <p><%= @post.text%></p>
    </div>
  </div>
  <h3>Comments</h3>
  <% if @comments.empty? %>
    <div>
      <div>
        <p>Ooops! This post has no comments.</p>
      </div>
    </div>
  <% else %>
    <div>
      <div>
        <% @comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>